* {
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
}

nav a:hover {
    color: blue;
}
 
a {
    color: black;
    text-decoration: none;
}

h4 {
    margin-top: 0.625rem;
}

ul li {
    list-style: none;
    padding: 0.9375rem;
}

#galeria img {
    width: 100%;
    height: 18.75rem;
    padding: 0.625rem;
}

img {
    border-radius: 1.25rem;
    margin: 0.3125rem;
    padding: 0.3125rem;
}

.imagen {
    margin-top: 7.8125rem;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 0.125rem solid black;
}

#header-nav {
    margin-top: 0.9375rem;
}

main {
    background-color: rgba(19,19,19,1);
    background: -moz-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(19,19,19,1) 1%, rgba(43,43,43,1) 6%, rgba(28,28,28,1) 31%, rgba(18,18,18,1) 46%, rgba(17,17,17,1) 47%, rgba(0,0,0,1) 59%, rgba(44,44,44,1) 72%, rgba(71,71,71,1) 84%, rgba(89,89,89,1) 92%, rgba(102,102,102,1) 96%, rgba(76,76,76,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,19,19,1)), color-stop(1%, rgba(19,19,19,1)), color-stop(6%, rgba(43,43,43,1)), color-stop(31%, rgba(28,28,28,1)), color-stop(46%, rgba(18,18,18,1)), color-stop(47%, rgba(17,17,17,1)), color-stop(59%, rgba(0,0,0,1)), color-stop(72%, rgba(44,44,44,1)), color-stop(84%, rgba(71,71,71,1)), color-stop(92%, rgba(89,89,89,1)), color-stop(96%, rgba(102,102,102,1)), color-stop(100%, rgba(76,76,76,1)));
    background: -webkit-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(19,19,19,1) 1%, rgba(43,43,43,1) 6%, rgba(28,28,28,1) 31%, rgba(18,18,18,1) 46%, rgba(17,17,17,1) 47%, rgba(0,0,0,1) 59%, rgba(44,44,44,1) 72%, rgba(71,71,71,1) 84%, rgba(89,89,89,1) 92%, rgba(102,102,102,1) 96%, rgba(76,76,76,1) 100%);
    background: -o-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(19,19,19,1) 1%, rgba(43,43,43,1) 6%, rgba(28,28,28,1) 31%, rgba(18,18,18,1) 46%, rgba(17,17,17,1) 47%, rgba(0,0,0,1) 59%, rgba(44,44,44,1) 72%, rgba(71,71,71,1) 84%, rgba(89,89,89,1) 92%, rgba(102,102,102,1) 96%, rgba(76,76,76,1) 100%);
    background: -ms-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(19,19,19,1) 1%, rgba(43,43,43,1) 6%, rgba(28,28,28,1) 31%, rgba(18,18,18,1) 46%, rgba(17,17,17,1) 47%, rgba(0,0,0,1) 59%, rgba(44,44,44,1) 72%, rgba(71,71,71,1) 84%, rgba(89,89,89,1) 92%, rgba(102,102,102,1) 96%, rgba(76,76,76,1) 100%);
    background: linear-gradient(to bottom, rgba(19,19,19,1) 0%, rgba(19,19,19,1) 1%, rgba(43,43,43,1) 6%, rgba(28,28,28,1) 31%, rgba(18,18,18,1) 46%, rgba(17,17,17,1) 47%, rgba(0,0,0,1) 59%, rgba(44,44,44,1) 72%, rgba(71,71,71,1) 84%, rgba(89,89,89,1) 92%, rgba(102,102,102,1) 96%, rgba(76,76,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#4c4c4c', GradientType=0 );
    padding: 0.9375rem;
}

footer {
    background-color: white;
    border-top: 0.125rem solid black;
}

#logo {
    height: 4rem;
}

.formulario__datos {
    text-align: center;
    
}

.formulario__datos__form {
    display: flex;
    flex-direction: column;
    border: 0.3125em solid;
    border-radius: 0.9375em;
    margin-right: 31.25em;
}

.btn {
    border-radius: 0.625em;
}

.btn--green {
    border-radius: 0.625em;
    background-color: green;
    font-weight: bolder;
}

.btn--red {
    border-radius: 0.625em;
    background-color: red;
    font-weight: bolder;
}

   
